/*
#7289da	(114,137,218)
#ffffff	(255,255,255)
#99aab5	(153,170,181)
#2c2f33	(44,47,51)
#23272a	(35,39,42)
*/
*{
	padding:0;
	margin:0;
	background: #f5f5f5;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
#login_div{
	display: block;
	width: 310px;
	height: auto;
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
form{
	padding: 10px 20px;
	background: #fff;
	border-radius: 1px;
}
form img{
	display: block;
	width: 90px;
	margin: 10px auto;
}
input:focus,select:focus,textarea:focus,button:focus {
    outline: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

input{
	width: 100%;
	padding: 8px;
	margin: 8px 0;
	border: none;
	background: #fafafa;
	text-align: center;
	border-radius: 1px;
	transition: 0.26s;
	color: 1a1a1a;
}
input:active,input:hover{
	background: #f2f2f2;
}
input[type="submit"]{
	background: #000000;
	color: #fff;	
	cursor: pointer;
	transition: 0.26s;
}
input[type="submit"]:hover,input[type="submit"]:active{
	background: #2a2a2a;
}
#login_div div{
	width: 100%;
	padding: 8px 0;
	margin: 8px 0;
	text-align: center;
}

.inner_shadow{
   -moz-box-shadow:    inset 0 0 0.4px #c4c5c6;
   -webkit-box-shadow: inset 0 0 0.4px  #c4c5c6;
   box-shadow:         inset 0 0 0.4px  #c4c5c6;
}
.outer_shadow{
   -moz-box-shadow:    0 0 1px  #b5b5b5;
   -webkit-box-shadow: 0 0 1px  #b5b5b5;
   box-shadow:         0 0 1px  #b5b5b5;
}

/*for sesson messsage*/
.sesson_message{
	overflow: hidden;
	height: 30px;
	padding: 0;
	margin: 0;
	width: 100%;
	position: fixed;
	bottom: -30px;
	left: 0;
	z-index: 1000;
    animation: 3.5s ease-out 0s 1 message;
	-webkit-animation: 3.5s ease-out 0s 1 message;
	background:#fff;
}
.sesson_message p{
	height: 30px;
	overflow: hidden;
	width: 320px;
	display: block;
	text-align: center;
	font-size: 12px;
	padding: 0;
	margin: 0 auto;
	line-height: 30px;
	background: #fff;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes message {
  0% {
    bottom: -30px;
  }
  10% {
    bottom: 0;
  }
  90%{
	bottom: 0; 
  }
  100% {
    bottom: -30px;
  }
}


/* Standard syntax */
@keyframes message {
  0% {
    bottom: -30px;
  }
  10% {
    bottom: 0;
  }
  90%{
	bottom: 0; 
  }
  100% {
    bottom: -30px;
  }
}